**/*.map
**/*.min.css
**/*.min.js
_data/**
_design_drafts/**
_drafts/**
_includes/**
_layouts/**
_news/**
_pages/**
_projects/**
_sass/**
_posts/**
!_posts/2024-10-05-replicating-refusal.html
!_posts/2024-11-08-replicating-graphrag.html
!_posts/2025-05-01-ner_with_rl.html
!_posts/2025-07-23-attn_sink_evidence.html
!_posts/2025-12-13-slim-peft.html
!_posts/2026-05-05-rlvr-reward-landscape.md
.all-contributorsrc
.devcontainer/**
.github/**
!.github/workflows/deploy.yml
!.github/workflows/broken-links.yml
.pre-commit-config.yaml
assets/css/main.scss
assets/css/**
assets/html/**
assets/js/**
assets/json/**
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
assets/plotly/**
assets/ledger/posts.js
assets/ledger/routes.js
about/**
blog/**
cv/**
publications/**
research/**
writing/**
index.html
CONTRIBUTING.md
CUSTOMIZE.md
FAQ.md
INSTALL.md
README.md
docker-compose.yml
docker-compose-slim.yml
package.json
package-lock.json
purgecss.config.js
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
